.columns{
    grid-template-columns: auto;
    justify-content: center;
}

.box{
    width: 500px;
    height: 200px;
    background-color: rgb(255, 255, 255, 0.1);
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.box h2{
    color: purple;
    font-size: 2rem;
    margin-bottom: 40px;
}

.box p{
    color: rgb(200, 38, 75);
    font-size: 1.1rem;
}